In [3]:
#Term Frequency

In [4]:
text = "John likes to watch movies. Mary likes movies too. \
    Mary also likes to watch football games"

words = text.replace('.','').split()
print(words)

['John', 'likes', 'to', 'watch', 'movies', 'Mary', 'likes', 'movies', 'too', 'Mary', 'also', 'likes', 'to', 'watch', 'football', 'games']

In [5]:
import numpy as np
word_count = np.unique(words, return_counts = True) # 유용하게 사용할 수 있음.
print(word_count)

(array(['John', 'Mary', 'also', 'football', 'games', 'likes', 'movies',
       'to', 'too', 'watch'], dtype='<U8'), array([1, 2, 1, 1, 1, 3, 2, 2, 1, 2]))

In [6]:
word_to_cnt = {}
for words, cnt in zip(*word_count):
    word_to_cnt[words] = cnt
print(word_to_cnt)

{'John': 1, 'Mary': 2, 'also': 1, 'football': 1, 'games': 1, 'likes': 3, 'movies': 2, 'to': 2, 'too': 1, 'watch': 2}

In [ ]:
#Term Document Matrix : TDM -> 빈도수를 매트릭스로 기록.

In [8]:
corpus = ["John likes to watch movies. Mary likes movies too.",
    "Mary also likes to watch football games"]

from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer()
tdm_array = vector.fit_transform(corpus).toarray() #학습. -> 변환모델, 단어 사전을 생성.
# -> 여기서 알파벳순으로 정렬이 미리 되버림.
tf_dic = vector.vocabulary_ # 생성된 단어 사전을 확인. -> 각 문장의 단어 빈도 벡터. -> 단어가 몇번째 열에 해당하는지 확인.

print(tdm_array)# 각 값은 단어가 해당 문장에 몇번 나왔는지.
print(tf_dic)

[[0 0 0 1 2 1 2 1 1 1]
 [1 1 1 0 1 1 0 1 0 1]]
{'john': 3, 'likes': 4, 'to': 7, 'watch': 9, 'movies': 6, 'mary': 5, 'too': 8, 'also': 0, 'football': 1, 'games': 2}

In [9]:
import pandas as pd
tf_dic_sorted = dict(sorted(tf_dic.items(),key = lambda item : item[1]))
tdm = pd.DataFrame(tdm_array, columns = tf_dic_sorted.keys())
tdm

   also  football  games  john  likes  mary  movies  to  too  watch
0     0         0      0     1      2     1       2   1    1      1
1     1         1      1     0      1     1       0   1    0      1